.header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 20px;
}

.logo {
	display: flex;
	gap: 10px;
	align-items: center;

	cursor: pointer;

	font-size: 2vw;
	color: #03d2af;
}

.heading {
	text-align: center;
	font-size: 5vw;
}

.links {
	display: flex;
	align-items: center;
	justify-content: end;
}

.links > .link {
	padding-inline: 10px;
	font-size: 2vw;
}

.resetButton {
	cursor: pointer;
}
