@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

*,
::after,
::before {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;

	font-family: "Gaegu", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.star {
	position: absolute;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
	animation: blink linear infinite;
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes blink {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 0.5;
		}
		50% {
			opacity: 1;
		}
		90% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
